/* Footer */
.footer {
  background-color: #0000b9;
  color: #ffffff;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin-bottom: 16px;
}

.back-to-home {
  text-align: center;
  margin: 16px 0 12px;
}

.back-to-home a {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.back-to-home a:hover {
  color: var(--primary-blue);
  cursor: pointer;
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 7rem 0;
  justify-content: center;
  align-items: center;
}

.footer-brand {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1145px;
  padding: 0 4rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-logo img {
  width: 5rem;
  height: auto;
}

.footer-brand-name {
  font-size: 3.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: clamp(200px, 40vw, 475px);
}

.footer-description {
  font-size: 2rem;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 12px;
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.footer-contact img {
  width: 18px;
  height: 18px;
}

.footer-phone {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

.footer-bottom-divider {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.footer-copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  gap: 8px;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-copyright img {
  width: 12px;
  height: 12px;
}

.footer-copyright-text {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #e3e3e3;
}

/* 9 px */
@media (max-width: 768px) {
  .footer-brand {
    flex-direction: column;
    gap: 4.2rem;
    align-items: start;
    padding-left: 2rem;
  }

  .footer-brand-name {
    font-size: 3.3rem;
  }

  .footer-info {
    max-width: 80%;
  }

  .footer-description,
  .footer-phone {
    font-size: 1.88rem;
  }

  .footer-copyright-text {
    font-size: 1.4rem;
  }
}

/* 8 px */
@media (max-width: 480px) {
  .footer-brand {
    padding-left: 2rem;
  }

  .footer-brand-name {
    font-size: 3.5rem;
  }

  .footer-description,
  .footer-phone {
    font-size: 1.875rem;
  }

  .footer-copyright-text {
    font-size: 1.3rem;
  }
}