.container {
  background-image: url(/notFound/page_background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-blue);
  padding-bottom: 5rem;
}

.header {
  font-weight: 800;
  font-size: 17rem;
}

.subheader {
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: -2.4rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.6rem;
}

.button {
  font-family: 'Open Sans';
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: white;
  background-color: var(--primary-blue);
  margin-top: 2rem;
}