/* Global Env */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-blue: #0000b9;
  --text-dark: #000000;
  --text-light: #ffffff;
  --gray-light: #d9d9d9;
  --gray-medium: #e3e3e3;
  --orange-highlight: #e89600;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-dark);
  background-color: var(--text-light);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  /* optional, to keep pointer */
}

/* 9 px */
@media (max-width: 1100px) {
  html {
    font-size: 56.25%;
  }
}

/* 9 px */
@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

/* 8 px */
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}