/* Layout components */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.section-wrapper {
  width: 100%;
  max-width: 1245px;
  margin: 3rem auto;
}

.content-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 3.5rem;
}

/* Product Information */

.product-wrapper {
  flex: 2;
}

.breadcrumbs {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.product-name {
  font-family: 'Lora', sans-serif;
  font-size: 3.6rem;
  margin-bottom: 2.5rem;
}

.learn-more-btn {

  font-size: 1.4rem;
  border: #000000 1px solid;
  text-decoration: none;
  color: var(--text-dark);
  border-radius: 5px;
  padding: 1rem 2.5rem;
  margin-bottom: 5rem;
}

.learn-more-btn:hover {
  background-color: #000;
  color: #fff;
}

.detail-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lora', sans-serif;
  font-size: 3.6rem;
  background-color: var(--gray-light);
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.detail-divider {
  width: 50%;
  height: 2px;
  background-color: #000000;
}

/* Recommendation */

.recommendation-wrapper {
  flex: 1;
  max-width: 375px;
  padding-top: 5rem;
}

.recommendation-title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.recommendation-card {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card-image {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  height: 13rem;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card-image img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-title {
  font-family: 'Open Sans', sans-serif;
  flex: 1;
  font-size: 1.6rem;
}

/* Image Carousel */

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 43rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
  border-radius: 5px;
}

.imageWrapper {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.navButton {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

.navButton:hover {
  background: rgba(0, 0, 0, 0.7);
}

.navButton:first-of-type {
  left: 10px;
}

.navButton:last-of-type {
  right: 10px;
}