/* Layout components */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.section-wrapper {
  width: 100%;
  max-width: 1245px;
  margin: 6.4rem auto;
}

.content-container {
  width: 100%;
  margin: 0 auto;
}

.content-flex {
  display: flex;
  justify-content: space-between;
}

/* Section Titles */
.section-title {
  font-size: 3.6rem;
  font-family: 'Lora', serif;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  color: #000000;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

/* Filter Selection */
.filter-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--gray-light);
  margin: 1.5rem 0;
}

.custom-select {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  width: 30rem;
  margin-top: 2rem;
}

.selected {
  padding: 1.5rem 2rem;
  border: 1px solid var(--text-dark);
  border-radius: 0.5rem;
  background: #fff;
  cursor: pointer;
  background: url('/public/productsByCategory/arrow.svg') no-repeat right 2rem center;
}

.selected:hover {
  background-color: #f0f0f0;
}

.options {
  margin-top: 2rem;
  background: #fff;
  border: 1px solid var(--text-dark);
  border-radius: 0.5rem;
  list-style: none;
  padding: 0;
  display: none;
  overflow: hidden;
}

.options li {
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.options li.active {
  background: url('/public/productsByCategory/check.svg') no-repeat right 2rem center;
}

.options li:hover {
  background-color: #f0f0f0;
}

/* ketika dropdown dibuka */
.custom-select.open .options {
  display: block;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: 26.5rem 26.5rem 26.5rem;
  justify-content: space-between;
  row-gap: 5rem;
  column-gap: 2.7rem;
}

.product-card {
  background-color: #ffffff;
  overflow: hidden;
}

.product-image-wrapper {
  width: 100%;
  height: 30rem;
  border-radius: 5px;
  overflow: hidden;
}

.product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.product-image-wrapper:hover .product-image {
  transform: scale(1.1);
  cursor: pointer;
}

.product-name {
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  color: #000000;
  padding: 16px;
  margin-top: 1rem;
}